@page "/Oldemail"
@layout MainLayout

<style>
  .external-container {
    width: 100%;
    height: calc(100vh - 64px); /* adjust 64px for your header height */
    margin: 0;
    padding: 0;
  }
  .external-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>

<div class="external-container">
  <iframe src="http://10.201.50.190:91/"></iframe>
</div>
